
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

ion-slides,ion-slide{
 height: 100%;
 width: 100%;
}
ion-text{
 text-align: center;
 font-family: 'Luckiest Guy', cursive;
}
ion-list{
 background: linear-gradient(to bottom,  #e2b1e2, white);
}